/* styles.css */
.app {
    max-width: 800px;
    margin: auto;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-card {
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 200px;
    display: block;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out;
  }

  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card img {
    max-width: 100%;
    height: auto;
  }
  
  .filter {
    margin-bottom: 20px;
  }
  
  .add-movie-form {
    margin-top: 20px;
  }
  
  .btn{
   color: #fff;
   padding: 8px 22px;
   border-radius: 6px;
   background: #7d2ae8;
   
  }
  